<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title4</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${userList}">
        <td th:text="${user.getFirstName()}">Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
    </tr>
    </tbody>
</table>

<button type="button" th:onclick=""></button>
</body>
</html>